*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin:0;
}

form {
    display: grid;
    grid-gap: 10px;
    align-content: center;
    /* height: 70vh; */
    margin: 0 auto;
    padding: 25px;
    max-width: 500px;
}

#question,
#answer,
#tag {
    height: 10vh;
    font-size: 15px;
}

#question-count > span,
#answer-count > span {
    font-size: 15px;
    font-weight: 100;
}