/* header, footer, etc. -> every styles used by all pages" */


* {
    box-sizing: border-box;
    
}

header {
    display: flex;
    border:2px solid rgb(0, 0, 0);
    background-color: aquamarine;
    justify-content: center;
}

.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid rgb(0, 0, 0);
}

.card1 > p {
    display: inline-block;
    border:2px solid rgb(0, 0, 0);
    padding:20px 50px;
}

.card1 > li {
    border:2px solid rgb(0, 0, 0);
}