.profile-header {
    display: flex;
    justify-content: space-around; 
    width:100%;   
    margin:30px 20px;
    position:sticky;
    top:100px;
}

.profile-header img {
    width:40%;
    border-radius: 5px;
}

.profile-header p {
    align-self:center;
    font-size: 40px;
    padding:0 30px 0 10px;
}

.about-me {
    display: flex;
    flex-direction: column;
    margin:30px 0 30px 30px;
}

.about-me h3 {    
    font-size:40px;
}

.about-me p {
}

.counters {
    display:flex;
    justify-content: space-around;
    margin:20px 0;
}

.settings {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.settings h3 {    
    order:1;
    font-size:40px;
}

.settings p {
    order:2;
}

.settings .button {
    order:3;
}

