.profile__header {
    display: flex;
    justify-content: space-around; 
    width:100%;   
    margin:30px 20px;
    position:sticky;
    top:100px;
    background-color: rgb(255, 255, 255);
}

.profile__header img {
    width:40%;
    border-radius: 5px;
    border:1px solid rgb(0, 0, 0);
}

.profile__header p {
    align-self:center;
    font-size: 40px;
    padding:0 30px 0 10px;
}

.profile__about-me {
    display: flex;
    flex-direction: column;
    margin:30px 0 30px 30px;
}

h3 {    
    font-size:40px;
    margin:30px 0 30px 30px;
}

.profile__counters {
    display:flex;
    justify-content: space-around;
    margin:20px 0;
}

.profile__settings {
    display: flex;    
    justify-content: space-around;    
    margin:30px 0 30px 30px;
}

.profile__settings p,
.profile__settings .profile__button {
    align-self:center;
}


.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



